<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/imagens.css">
    <link rel="stylesheet" href="/css/estrutura.css">
    <link rel="stylesheet" href="/css/letras.css">
    <title>Notícia Urgente !!</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="http://localhost:5000/">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">    
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                    <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                    <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
            </button>
        </a>
      <h2>MoVi Notícias</h2>
      <h5>Urgente!!</h5>
    </div>
    </nav>
    <h1><b>Urgente !!</b></h1>
    <br>
    <div id="noticia">
        <h3>Professor <b>Rodrigo</b> se despede em clima de tristeza</h3>
        <img src="/img/Rodrigo.jpg" class="imgPag">
        <br>
        <br>
        <div id="box" style="width: 100%; margin-left:0%; background-image: none; height: auto;">
            <h5>Após anunciar a sua ida para outra Etec, o professor Rodrigo, de Ed. Física recebeu uma despedida calorosa com direito até mesmo a choro confira.
                A Escola Técnica Estadual de Cidade Tiradentes (ETEC CT), fundada em 26 de fevereiro de 2009, está se despedindo de um dos seus professores mais queridos: o Professor Rodrigo. Com sua dedicação, paixão pelo ensino e carisma, ele conquistou o coração de alunos, colegas e funcionários ao longo dos anos.
                Rodrigo, conhecido por sua habilidade em tornar as aulas envolventes e práticas, deixa um legado marcante na ETEC CT. Seus métodos inovadores e sua capacidade de inspirar os estudantes fizeram dele um educador excepcional. Ele sempre esteve disposto a ajudar, fosse esclarecendo dúvidas, orientando projetos ou incentivando o desenvolvimento pessoal de seus alunos.
            <br>
                A notícia da partida do Professor Rodrigo pegou todos de surpresa. No entanto, entendemos que ele está seguindo seu caminho em busca de novos horizontes. Rodrigo aceitou uma oportunidade em outra escola, onde continuará a compartilhar seu conhecimento e paixão pela educação.
                O diretor da ETEC CT, juntamente com os demais professores e funcionários, organizou uma emocionante despedida para Rodrigo. Alunos escreveram cartas de agradecimento, expressando o seu reconhecimento por sua contribuição valiosa à comunidade escolar.
                “<b>O Professor Rodrigo sempre será parte da nossa história</b>”, disse o diretor. “<i>Seu comprometimento e amor pelo ensino deixam uma marca indelével em todos nós.</i>”
                A ETEC CT deseja ao Professor Rodrigo muito sucesso em sua nova jornada. Que ele continue inspirando e transformando vidas, assim como fez aqui. Seu legado permanecerá vivo nas salas de aula e nos corações de todos que tiveram o privilégio de aprender com ele.
            </h5>
        
        </div>
    </div>
</body>