<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/imagens.css">
    <link rel="stylesheet" href="/css/estrutura.css">
    <link rel="stylesheet" href="/css/letras.css">
    <title>Toque de Unicórnio</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <a href="http://localhost:5000/">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                  <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
          </a>
        </button>
        <h2>MoVi Notícias</h2>
        <h5>Toque de Unicórnio</h5>
      </div>
    </nav>
    <h1><b>Toque de Unicórnio</b></h1>
    <br>
    <div id="noticia">
        <h3>Etec de Cidade Tiradentes, conhecida por suas ideias malucas, está lançando um novo curso de química que promete fazer os alunos rirem enquanto aprendem</h3>
        <img src="/img/Quimica.jpg" class="imgPag">
        <br>
        <br>
        <div  id="box" style="width: 100%; margin-left:0%; background-image: none; height: auto;">
            <h5>Escola Técnica Estadual (Etec) de Cidade Tiradentes, conhecida por suas ideias malucas, está lançando um novo curso de química que promete fazer os alunos rirem enquanto aprendem. O nome? <b>“Química Arco-Íris com Toque de Unicórnio”!</b>
              <br>  
              O professor responsável, <b>Dr. Alquimedes</b> (<u>sim, ele realmente se chama assim</u>), explicou: <i>“Nós queremos que os estudantes não apenas aprendam sobre átomos e moléculas, mas também experimentem as cores e os sabores da química. Por isso, nossos laboratórios agora estão repletos de tubos de ensaio com gostos diferentes!”</i>                
                Os alunos começam com o básico: <b>“Soluções de Morango”</b> e <b>“Gás Hélio Efervescente”</b>. Em seguida, avançam para <b>“Ácido Limão”</b> e <b>“Base de Hortelã”</b>. Os mais corajosos podem até experimentar a <b>“Reação de Arco-Íris”</b>, que envolve misturar todos os sabores em um único tubo de ensaio. Dizem que o resultado é parecido com um arco-íris explodindo na boca.         
              <br>
              A aluna <b>Mariazinha</b>, que agora atende pelo nome de <b><i>“Mariazinha do Arco-Íris”</i></b>, disse: <i>“Eu nunca pensei que a química pudesse ser tão saborosa! Minha solução de framboesa ficou perfeita! E o gás hélio? Agora eu falo como um pato!”</i>                
                Os resultados dos experimentos são avaliados não apenas pela precisão científica, mas também pela criatividade. O aluno <b><i>Joãozinho</i></b>, ao invés de criar uma solução de iodo, fez uma <b>“Poção de Transformação em Sapo”</b> que, infelizmente, não funcionou (<u>mas ele ganhou pontos pela originalidade</u>).             
                Os pais dos estudantes estão encantados com a abordagem inovadora. Dona Rosa, mãe do aluno <b>Pedrinho</b> (<u>agora <b>Pedrinho do Arco-Íris</b></u>), comentou: <i>“Finalmente, meu filho está interessado em química! Ele até trouxe para casa um frasco de ‘Elixir de Felicidade’"</i>.                
              <br>
              A Etec de Cidade Tiradentes planeja realizar uma competição anual de sabores, com prêmios para as melhores criações. Os jurados incluirão chefs de cozinha, unicórnios e um dragão que adora pimenta.     
                E assim, a Etec continua a colorir o mundo da educação com suas experiências químicas deliciosas e divertidas.
            </h5>
        </div>
    </div>
</body>