<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/imagens.css">
    <link rel="stylesheet" href="/css/estrutura.css">
    <link rel="stylesheet" href="/css/letras.css">
    <title>Notícia Exclusiva</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <a href="http://localhost:5000/">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                  <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
          </a>
        </button>
        <h2>MoVi Notícias</h2>
        <h5>Notícia Exclusiva</h5>
      </div>
    </nav>
    <h1><b>Notícia Exclusiva</b></h1>
    <br>
    <div id="noticia">
        <h3>Etec de Cidade Tiradentes <b>Revoluciona</b> o Ensino de Administração com Café!</h3>
        <img src="/img/Adm.jpg" class="imgPag">
        <br>
        <br>
        <div id="box" style="width: 100%; margin-left:0%; background-image: none; height: auto;">
            <h5>Em uma reviravolta inesperada, a Escola Técnica Estadual (Etec) de Cidade Tiradentes está redefinindo o ensino de <b>Administração</b>. Esqueça os velhos clichês de planilhas e gráficos – aqui, a palavra-chave é <b>café!</b> 😄
                Diretor da Etec, <b><i>Sr. Cafézinho</i></b>, Comenta: “<i>Nossos alunos não apenas estudam Administração; eles vivem Administração. E qual é o combustível essencial para qualquer administrador? Café, é claro! Nosso lema é: ‘Se você não consegue resolver um problema, tome um café e tente novamente.’”</i> ☕                
            <br>
                <b>Currículo Inovador:</b>
                Matéria Principal: Caféologia Avançada: Os alunos aprendem a moer, preparar e degustar diferentes tipos de café. Afinal, um bom administrador deve saber escolher o blend perfeito para cada situação.
                Laboratório de Café Expresso: Aqui, os estudantes aprimoram suas habilidades em máquinas de café expresso. Latte art? Sim, por favor!
                Gestão de Cafeterias: Os alunos aprendem a administrar cafeterias fictícias, enfrentando desafios como “Estoque de grãos esgotado” e “Cliente exigindo um cappuccino vegano sem lactose”.
                TCC (Trabalho com Café): Os formandos devem criar um plano de negócios para uma cafeteria hipotética. O sucesso é medido em xícaras vendidas por minuto.
                Depoimento de Aluno: “Eu estava cansado das aulas tradicionais de Administração. Na Etec, finalmente encontrei meu propósito: transformar o mundo, uma xícara de café de cada vez.” ☕
                
                Etec de Cidade Tiradentes: O Futuro é Café! 12
            </h5>
        </div>
        <h5><b>P.S.: Os estudantes também aprendem a fazer chá, mas isso é apenas para os mais ousados.</b></h5>
    </div>
</body>