<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/imagens.css">
    <link rel="stylesheet" href="/css/estrutura.css">
    <link rel="stylesheet" href="/css/letras.css">
    <title>O Incrível Curso</title>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          <a href="http://localhost:5000/">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                  <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z"/>
                  <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293z"/>
                </svg>
          </a>
        </button>
        <h2>MoVi Notícias</h2>
        <h5>O Incrível Curso</h5>
      </div>
    </nav>
    <h1><b>O Incrível Curso</b></h1>
    <br>
    <div id="noticia">
        <h3><b>Desenvolvimento de Sistemas (DS)</b>
            
            eleito o melhor da escola! </h3>
        <img src="/img/DS.jpg" class="imgPag">
        <div id="box" style="width: 100%; margin-left:0%; background-image: none; height: auto;">
            <h5>A Escola Técnica Estadual (Etec) de Cidade Tiradentes está comemorando uma conquista incrível: seu curso de <b>Desenvolvimento de Sistemas (DS)</b> foi eleito o melhor da escola! Os alunos estão entusiasmados, e os professores estão orgulhosos de seu trabalho árduo.
                O professor responsável pelo curso, <b><i>Danadoni</i></b>, compartilhou sua alegria: “<i>Nossos estudantes estão mergulhando fundo no mundo da programação, algoritmos e arquitetura de software. Eles aprendem a criar aplicativos, sites e sistemas que fazem a diferença no mundo real.</i>”
                Os alunos do curso de <b>DS</b> têm acesso a laboratórios de última geração, onde podem desenvolver projetos inovadores. Alguns dos destaques incluem:
            <br>    
                <b>Projeto “App dos Sonhos”</b>: Os alunos criaram aplicativos para resolver problemas reais, como um app que encontra a melhor pizza da cidade ou um organizador de tarefas que também faz café.
                <b>Hackathons Épicos</b>: A Etec Cidade Tiradentes realiza hackathons regulares, onde os alunos competem para criar soluções criativas em um curto período de tempo. O último desafio foi criar um sistema de entrega de cachorro-quente usando drones. Sim, você leu certo: drones entregando cachorro-quente!
                <b>Estágios com Empresas Parceiras</b>: Os alunos têm a oportunidade de estagiar em empresas de tecnologia, onde aplicam seus conhecimentos em projetos reais. Alguns até conseguiram empregos após o estágio!
                A aluna <b>Carol</b>, que agora atende pelo nome de “<b><i>Carol do Código</i></b>”, disse: “<i>Eu amo programar! O curso de DS me ensinou a pensar como um desenvolvedor e a resolver problemas de forma criativa. Além disso, fiz amigos nerds incríveis!</i>”
            <br>
                Os pais dos estudantes também estão impressionados. Dona Maria, mãe do aluno <b>João</b> (<u>agora João do Java</u>), comentou: “<i>Meu filho está sempre falando sobre loops e APIs. Não entendo nada, mas ele parece feliz!</i>” 
                A Etec Cidade Tiradentes planeja expandir o curso de DS, oferecendo mais disciplinas avançadas, como <b><u>inteligência artificial, segurança cibernética e desenvolvimento de jogos</u></b>. O futuro é brilhante para esses jovens programadores!
                Parabéns à Etec de Cidade Tiradentes e ao curso de Desenvolvimento de Sistemas por essa conquista incrível! 🚀👩‍💻👨‍💻
            </h5>
        </div>
    </div>
</body>
</html>