{{> nav1}}
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/img/carrossel.png" class="carousel">
      </div>
      <div class="carousel-item">
        <img src="/img/carrossel.png" class="carousel">
      </div>
      <div class="carousel-item">
        <img src="/img/carrossel.png" class="carousel">
      </div>
      <div class="carousel-item">
        <img src="/img/carrossel.png" class="carousel">
      </div>
    </div>
  </div>
  <br>
  <h1><b>Principais Notícias</b></h1>
  <div class="grid">
    <div id="noticia">
      <h3><b>Urgente</b></h3>
      <img src="/img/Rodrigo.jpg" class="imgNot">
      <br>
      <div id="box">
        <p>
          <b>
            Professor Rodrigo se despede em clima de tristeza
          </b>
        </p>
      </div>
      <button>
        <a href="/urgente">Veja Mais</a>
      </button>
      <br>
      <br>
    </div>
    <div id="noticia">
      <h3><b>Festa Junina</b></h3>
      <img src="/img/FestaJunina.jpg" class="imgNot">
      <br>
      <div id="box">
        <p>
          <b>
            Estão preparados para a festa junina ?
          </b>
        </p>
      </div>
      <button>
        <a href="/festaJunina">Veja Mais</a>
      </button>
      <br>
      <br>
    </div>
    <div id="noticia">
      <h3><b>Química Arco-Íris com Toque de Unicórnio</b></h3>
      <img src="/img/Quimica.jpg" class="imgNot">
      <br>
      <div id="box">
        <p>
          <b>
            Etec de Cidade Tiradentes, conhecida por suas ideias malucas, está lançando um novo curso de química que promete fazer os alunos rirem enquanto aprendem
          </b>
        </p>
      </div>
      <button>
        <a href="/quimicaArcoIris">Veja Mais</a>
      </button>
      <br>
      <br>
    </div>
    <div id="noticia">
      <h3><b>Notícia Exclusiva</b></h3>
      <img src="/img/Adm.jpg" class="imgNot">
      <br>
      <div id="box">
        <p>
          <b>Etec de Cidade Tiradentes Revoluciona o Ensino de Administração com Café!</b>
        </p>
      </div>
      <button>
        <a href="/noticiaExclusiva">Veja Mais</a>
      </button>
      <br>
      <br>
    </div>
  </div>
  <div id="noticia">
    <h3><b>O incrível curso</h3> 
      <h4>DESENVOLVIMENTO DE SISTEMAS</b></h4>
    <img src="/img/DS.jpg" class="imgNot">
    <br>
    <div id="box">
      <p>
        <b>Escola Técnica Estadual (Etec) de Cidade Tiradentes está comemorando uma conquista incrível: seu curso de Desenvolvimento de Sistemas (DS) foi eleito o melhor da escola! </b>
      </p>
    </div>
    <button>
      <a href="/oIncrivelCurso">Veja Mais</a>
    </button>
  </div>