{{> nav2}}
<h1><b>Urgente !!</b></h1>
<br>
<div id="noticia">
    <h3>Professor <b>Rodrigo</b> se despede em clima de tristeza</h3>
    <img src="/img/Rodrigo.jpg" class="imgPag">
    <br>
    <br>
    <div id="box" style="width: 100%; margin-left:0%; background-image: none; height: auto;">
        {{#each noticias}}
            {{#if (eq this.id 1)}}
                {{#if this.desc}}
                    <h5>{{this.desc}}</h5>
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</div>
