{{> nav1}}
    <h1><b>Criadores do site</b></h1>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3" style="max-width: 540px; background-color: black;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="/img/Moises insta.png" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Moisés N. Ramos</h5>
                                <p class="card-text">Estudante da Etec de Cidade Tiradentes</p>
                                <p class="card-text"><li>Autor das Notícias</li></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-3" style="max-width: 540px; background-color: black;">
                    <div class="row g-0">
                        <div class="col-md-8">
                            <div class="card-body text-end" >
                                <h5 class="card-title">Vittor N. Sirqueira</h5>
                                <p class="card-text">Estudante da Etec de Cidade Tiradentes</p>
                                <p class="card-text"><li>Editor do Site</li></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <img src="/img/Vittor.png" class="img-fluid rounded-start" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
