<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h2>MoVi Notícias</h2>
      <h5><a href="http://localhost:5000/sobre">Sobre</a></h5>
    </div>
    <div class="collapse" id="navbarToggleExternalContent">
    <br>
    <ul>
      <li><a href="http://localhost:5000/urgente">Caso do Professor</a></li>
      <li><a href="http://localhost:5000/festaJunina">Caso da Festa Junina</a></li>
      <li><a href="http://localhost:5000/quimicaArcoIris">Caso "Toque de Unicórnio"</a></li>
      <li><a href="http://localhost:5000/noticiaExclusiva">Notícia Exclusiva</a></li>
      <li><a href="http://localhost:5000/oIncrivelCurso">O Incrível Curso</a></li>
    </ul>
    </div>
</nav>