.imgNot{
    width: 348px;
    height: 357.91px;
    border: 5px solid black;
    border-radius: 5px;
}
.carousel{
    width: 100%;
    height: 500px;
    border: 2px solid black;
}
.imgPag{
    border-radius: 20px;
    height: 360px;
    transition: transform 0.5s ease;
    width: 300px;
    height: auto;
    z-index: -1;
    
}
.imgPag:hover{
    transform: scale(1.5, 1)
}