<nav class="navbar">
    <div class="container-fluid">
      <a href="http://localhost:5000/cadastrarTime">
        <button style="background-color: rgb(145, 9, 9);">
          Cadastrar Time
        </button>
      </a>
      <h2><i><b>ViBraFut</b></i></h2>
      <a href="http://localhost:5000/cadastrarJogador"> 
        <button style="background-color: green;">
          Autores
        </button>
      </a>
    </div>
</nav>
<br>