<nav class="navbar">
    <div class="container-fluid">
        <a href="http://localhost:5000/">
            <button style="background-color: rgb(145, 9, 9);">
                Voltar
            </button>
        </a>
        <h2><i><b>Cadastro de Time</b></i></h2>
        <h5><i>ViBraFut</i></h5>
    </div>
</nav>
<br>