{{> nav2}} <!-- Inclua seu nav se necessário -->
<div id="container">
    <h2>Times Cadastrados</h2>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Abreviação</th>
                <th>Técnico</th>
                <th>Treinador</th>
                <th>Série</th>
            </tr>
        </thead>
        <tbody>
            
            <tr><td></td></tr>
        </tbody>
    </table>
    
    
</div>
